<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="../media/myico.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    {% block head_extends %}{%endblock%}
</head>

<body style="margin-top: 70px;">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'home' %}">个人博客</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% block home_active %}{% endblock %}"><a href="/">首页</a></li>
                <li class="{% block blog_active %}{% endblock %}"><a href="{% url 'blog_list' %}">博客</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="#">注销</a></li>
                <li ><a href="{% url 'login' %}">登录/注册</a></li>
            </ul>
          </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
    {% block js_extends %}{% endblock %}
</body>

</html>