ul{
    padding:0;
    margin:0;
    text-align: left;
    list-style-type: none;
}
div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}
div.blog h3{
    margin-top: 1em;
}
div.paginator{
    text-align: center;
}

ul.blog-info-desc {
    list-style-type: none;
}
ul.blog-info-desc li{
    display: inline-block;
    margin-right: 2em;
}
div.comment-area{
    margin-top: 2em;
}
h3.comment-area-title{
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}